body,html{margin:0;height:100%;}


body{
    background:darkgray;
     /*background-image: url("https://media1.giphy.com/media/26n6HRgR5KXmKH3yM/giphy.gif?cid=790b7611e604b6a9fc77c0f5d49eeea873f509d234097b89&rid=giphy.gif");*/
     background-size: cover;
     color:white;
     font-family: 'Big Shoulders Display', cursive;
     font-size:1.4em;
     cursor:none;
     margin:15px 0px 0px 50px;
     overflow-x:hidden;
     }
body::-webkit-scrollbar {
    width: 1em;
}


h1{
    margin-top:0;
}

#popup{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(214, 214, 214,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
/*    display:none;*/
}

.togglepopup{
    width:100px;
    height:50px;
    position:fixed;
    color:darkgray;
    font-family: 'Big Shoulders Display', cursive;
    font-size:1em;
    top:110px;
    right:30px;
    border-radius:6px;
    opacity:0.6;
    border:none;
    cursor:none;
    display:none;
}
.togglepopup:hover{
    opacity:1;
}
#popupwindow{
    box-sizing: border-box;
    padding:20px;
    background:white;
    opacity:0.85;
    width:20vw;
    border-radius: 5px;
    border:3px black solid;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.form{
/*    display:none;*/
    box-sizing: border-box;
    padding:3%;
    border:5px black solid;
    width:45vw;
    text-align: center;
}
.left{
/*    width:40%;*/
    display:inline-block;
    font-size:1.2vw;
}
.right{
    width:40%;
    display:inline-block
}
h2:hover{
    color:red;
}

.full {
  height:100vh;
  width:100vw;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:transparent;
  display:none;
}

.center{
  background-color:white;
  width:75px;
  height:75px;
  animation:slidein 1s ease-in infinite;
}

.loading{
  position:absolute;
  z-index:999;
  width:100vw;
  text-align:center;
  background:transparent;
  top:calc(50% + 80px);
  color:white;
  display:none;
}

@keyframes slidein {
  0% {
    transform:translateX(25px);
  }

  33%{
    transform:rotate(0deg);
    width:15px;
  }
  
  66%{
    transform:rotate(-90deg) translateX(-25px) translateY(0px);
    width:15px;
  }
  100%{
    transform:rotate(-90deg) translateX(0px) translateY(25px);
    width:75px;
  }

}

#euclidean{
    z-index: 100;
    color:black;
/*    position:fixed;*/
    font-size:1.4vw;
/*    margin-left:40px;*/
    color:white;
    background: linear-gradient(to right, black 0%, #FFA4A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cosine{
    z-index: 100;
    color:black;
/*    position:fixed;*/
    font-size:1.4vw;
/*    margin-left:40px;*/
    color:white;
    background: linear-gradient(to right, black 0%, #FFA4A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.refresh{
    width:5vw;
    height:40px;
    font-family: 'Big Shoulders Display', cursive;
    font-size:1vw;
    line-height: 40px;
    border-radius:3px;
    color:darkgray;
    opacity:0.6;
    border:none;
    cursor:none;

}

#closetab{
    width:25PX;
    height:25px;
    font-size:16PX;
    line-height: 25px;
    border-radius:3px;
    color:darkgray;
    opacity:0.6;
    border:none;
    cursor:none;
}

#closetab:hover{
    opacity:1;
}
.boxNumber{
    width:460px;
    height:50px;
    position:fixed;
    font-family: 'Big Shoulders Display', cursive;
    font-size:1em;
    top:30px;
    line-height:50px;
    text-align: center;
    right:30px;
    border-radius:6px;
    color:darkgray;
    opacity:0.6;
    border:none;
    cursor:none;
    display:none;
    background-color:#dddddd;
    
}

.distance{
    color:#FFA4A9;
}

.number{
    position:fixed;
    top:100px;
    right:30px;
}
.refresh:hover{
    background:cornsilk;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.25);
}
 
.cursor{
    width:20px;
    z-index:-100;
    height:20px;
    border-radius:4px;
    position:absolute;
    background-color: black;
}
a{
    text-decoration: none;
    color:cornsilk}

.container{
    position:relative;}

input[type=text], select,textarea {
  width: 100%;
  padding: 12px 20px 12px 0px;
  font-size:2.5vw;
  margin: 8px 0;
  color:white;
  font-family: 'Big Shoulders Display', cursive;    
  background-color:transparent;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left:2px;
  text-transform: uppercase;
  border:none !important;
}

textarea:focus{
    outline: none !important;
}
textarea:value {
  color:black;
}

input[type=submit] {
  width: 20%;
  background-color: transparent;
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  padding: 14px 20px 14px 0px;
  text-align: left;
  font-size:1.8vw;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  display:block;
  opacity: 0;
}

#result_1{
    float:left;
    width:50%;
    text-align:center;
    display:none;}

#result_2{
    text-align:center;
    display:none;}

#visualization{
    white-space:nowrap;
    position: absolute;
    bottom: 0;}

#visual{
    display:inline-block;
    z-index:100;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
}

